<div class="product">
  <p>
    <span class="text--bold">Name:</span>
    {{ product.name }}
  </p>
  <p>
    <span class="text--bold">Price:</span>
    {{ product.price }}
  </p>
  <p>
    <span class="text--bold">Description:</span>
    {{ product.description }}
  </p>
  <p [ngClass]="{'text--green': isPossibleToBuy, 'text--red': !isPossibleToBuy}">
    <span class="text--bold">Available:</span>
    {{ isPossibleToBuy ? 'In stocks' : 'Not in stocks :c' }}
  </p>
  <div *ngIf="isPossibleToBuy; then possibleToBuy; else notPossibleToBuy"></div>
</div>

<ng-template #possibleToBuy>
  <button class="product__buy-button"
          (click)="addToCart(product)"
          mat-raised-button>
    Add to cart
  </button>
</ng-template>

<ng-template #notPossibleToBuy>
  <p class="product__no-stock">
    Unable to buy.
  </p>
</ng-template>