<div class="cart-item">
  <div class="cart-item__wrapper">
      <p>
          <span class="text--bold">Name:</span>
          {{ product.name }}
        </p>
        <p>
          <span class="text--bold">Price:</span>
          {{ product.price }}
        </p>
        <p>
          <span class="text--bold">Description:</span>
          {{ product.description }}
        </p>
        <p>
          <span class="text--bold">Available:</span>
          {{ product.isAvailable }}
        </p>
  </div>
  </div>